/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url('https://i.blogs.es/d5130c/wallpaper-2.png/1366_2000.jpeg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}


h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}

form {
    max-width: 800px; /* Ancho máximo del formulario */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-column,
.right-column {
    width: calc(50% - 20px); /* Ancho de las columnas */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 340px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto; /* Centrar el botón */
    display: block; /* Convertir el botón en un bloque para aplicar margen automático */
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
